@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none; }

body {
    font-family: 'Supermercado One', cursive;
    background-image: url(../images/fondo.jpg);
    margin: 10px 100px;
}

.container{
    width: 80%;
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0px;
}

$redes: ( 
        spotify: #109c46,
        facebook:  #3a5795,
        instagram: #C25E30,
        youtube: #c72f2f
);

.footer__link--image {
    font-size: 0.5rem;
}


@each $red, $color in $redes {
   &:hover.btn--#{$red} {
        background-color: $color;
        @extend .footer__link--image;
   }
}

@mixin color-invertido {
    background-color: $color2;
    color: $color1;
  }